Inmobiliaria/Inmobiliaria.Client.Controller/Service References/ServiceInmobiliaria/Service151.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2360/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" />
  <xs:import schemaLocation="http://localhost:2360/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosEdificios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosLosEdificiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="GetTodosLosEdificiosResult" nillable="true" type="q3:ArrayOfEdificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryUbicaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryUbicacionesResult" nillable="true" type="q4:ArrayOfKeyValueOfUbicacionArrayOfUbicacion_Detallej0w9PRQY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="edificio" nillable="true" type="q5:Edificio" />
        <xs:element minOccurs="0" name="pathImageOrigen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarEdificioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Edificio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEdificioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEdificio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Inmobiliaria.Service.ServiceInmobiliaria" minOccurs="0" name="edificio" nillable="true" type="q6:Edificio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEdificioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarEdificioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>